# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/

!/[Aa]ssets/**/*.meta

obj.meta
bin.meta
build.meta

bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.idb
.DS_Store
.vs/
ExportedObj/
.consulo/
*.dll
Textures/
Mod/1.6/AssetBundles
Mod/About/*.png
ReferenceCode